@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sample Web App</h1>
    <p>Follow the mockup to make this website look as close to the design as possible.</p>
    <p>Adobe XD mockup located <a href="https://xd.adobe.com/view/ecd35bb6-cb20-434f-be03-5f424e48c8d1-b980/screen/112e2a35-267d-4c9b-90ea-4545069c3ab5/">here</a></p>
</div>
