@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sample Web App</h1>
    <p>Follow the mockup to make this website look as close to the design as possible.</p>
</div>
